<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Study_Platform_website</display-name>
  <!-- 用户登录 -->
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.studyplatform.web.servlet.LoginServlet</servlet-class>
  </servlet>
  
  <!-- 用户注销 -->
  <servlet>
    <servlet-name>WrittenOffServlet</servlet-name>
    <servlet-class>com.studyplatform.web.servlet.WrittenOffServlet</servlet-class>
  </servlet>
  
  <!-- 用户注册 -->
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.studyplatform.web.servlet.RegisterServlet</servlet-class>
  </servlet>
  
  <!-- 获取院系列表 -->
  <servlet>
    <servlet-name>DepartmentServlet</servlet-name>
    <servlet-class>com.studyplatform.web.servlet.DepartmentServlet</servlet-class>
  </servlet>
  
  <!-- 获取专业列表 -->
  <servlet>
    <servlet-name>ProfessionalServlet</servlet-name>
    <servlet-class>com.studyplatform.web.servlet.ProfessionalServlet</servlet-class>
  </servlet>
  
  <!-- 获取课程列表 -->
  <servlet>
    <servlet-name>CourseServlet</servlet-name>
    <servlet-class>com.studyplatform.web.servlet.CourseServlet</servlet-class>
  </servlet>
  
  <!-- 获取课程详情 -->
  <servlet>
    <servlet-name>CourseDetailServlet</servlet-name>
    <servlet-class>com.studyplatform.web.servlet.CourseDetailServlet</servlet-class>
  </servlet>
  
  <!-- 获取试题 -->
  <servlet>
    <servlet-name>QuestionServlet</servlet-name>
    <servlet-class>com.studyplatform.web.servlet.QuestionServlet</servlet-class>
  </servlet>
  
  <!-- 测试提交 -->
  <servlet>
    <servlet-name>ExaminationServlet</servlet-name>
    <servlet-class>com.studyplatform.web.servlet.ExaminationServlet</servlet-class>
  </servlet>
  
  <!-- 显示答案 -->
  <servlet>
    <servlet-name>AnswerServlet</servlet-name>
    <servlet-class>com.studyplatform.web.servlet.AnswerServlet</servlet-class>
  </servlet>
  <!-- 请求图片 -->
  <servlet>
    <servlet-name>PictureServlet</servlet-name>
    <servlet-class>com.studyplatform.web.servlet.PictureServlet</servlet-class>
  </servlet>
  
  <!-- 显示答案forAndroid -->
  <servlet>
    <servlet-name>AnswerAction</servlet-name>
    <servlet-class>com.studyplatform.web.servlet.forAndroid.AnswerAction</servlet-class>
  </servlet>
  
  <!-- 课程详情forAndroid -->
  <servlet>
    <servlet-name>CourseDetailAction</servlet-name>
    <servlet-class>com.studyplatform.web.servlet.forAndroid.CourseDetailAction</servlet-class>
  </servlet>
  
  <!-- 课程forAndroid -->
  <servlet>
    <servlet-name>CouresAction</servlet-name>
    <servlet-class>com.studyplatform.web.servlet.forAndroid.CouresAction</servlet-class>
  </servlet>
  
  <!-- 院系forAndroid -->
  <servlet>
    <servlet-name>DepartmentAction</servlet-name>
    <servlet-class>com.studyplatform.web.servlet.forAndroid.DepartmentAction</servlet-class>
  </servlet>
  
  <!-- 试题结果forAndroid -->
  <servlet>
    <servlet-name>ExaminationAction</servlet-name>
    <servlet-class>com.studyplatform.web.servlet.forAndroid.ExaminationAction</servlet-class>
  </servlet>
  
  <!-- 登录forAndroid -->
  <servlet>
    <servlet-name>LoginAction</servlet-name>
    <servlet-class>com.studyplatform.web.servlet.forAndroid.LoginAction</servlet-class>
  </servlet>
  
  <!-- 图片forAndroid -->
  <servlet>
    <servlet-name>PictureAction</servlet-name>
    <servlet-class>com.studyplatform.web.servlet.forAndroid.PictureAction</servlet-class>
  </servlet>
  
  <!-- 专业forAndroid -->
  <servlet>
    <servlet-name>ProfessionalAction</servlet-name>
    <servlet-class>com.studyplatform.web.servlet.forAndroid.ProfessionalAction</servlet-class>
  </servlet>
  
  <!-- 试题forAndroid -->
  <servlet>
    <servlet-name>QuestionAction</servlet-name>
    <servlet-class>com.studyplatform.web.servlet.forAndroid.QuestionAction</servlet-class>
  </servlet>
  
  <!-- 注册forAndroid -->
  <servlet>
    <servlet-name>RegisterAction</servlet-name>
    <servlet-class>com.studyplatform.web.servlet.forAndroid.RegisterAction</servlet-class>
  </servlet>
  
  <!-- 注销forAndroid -->
  <servlet>
    <servlet-name>WrittenOffAction</servlet-name>
    <servlet-class>com.studyplatform.web.servlet.forAndroid.WrittenOffAction</servlet-class>
  </servlet>
  
  <!-- Android更新信息获取 -->
  <servlet>
    <servlet-name>InitAction</servlet-name>
    <servlet-class>com.studyplatform.web.servlet.forAndroid.InitAction</servlet-class>
  </servlet>
  
  <!-- Android获取Banner -->
  <servlet>
    <servlet-name>BannerAction</servlet-name>
    <servlet-class>com.studyplatform.web.servlet.forAndroid.BannerAction</servlet-class>
  </servlet>
  
  <!-- Android获取资讯 -->
  <servlet>
    <servlet-name>NewsAction</servlet-name>
    <servlet-class>com.studyplatform.web.servlet.forAndroid.NewsAction</servlet-class>
  </servlet>








  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlet/LoginServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>WrittenOffServlet</servlet-name>
    <url-pattern>/servlet/WrittenOffServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/servlet/RegisterServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>DepartmentServlet</servlet-name>
    <url-pattern>/servlet/DepartmentServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>ProfessionalServlet</servlet-name>
    <url-pattern>/servlet/ProfessionalServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>CourseServlet</servlet-name>
    <url-pattern>/servlet/CourseServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>CourseDetailServlet</servlet-name>
    <url-pattern>/servlet/CourseDetailServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>QuestionServlet</servlet-name>
    <url-pattern>/servlet/QuestionServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>ExaminationServlet</servlet-name>
    <url-pattern>/servlet/ExaminationServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>AnswerServlet</servlet-name>
    <url-pattern>/servlet/AnswerServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>PictureServlet</servlet-name>
    <url-pattern>/servlet/PictureServlet</url-pattern>
  </servlet-mapping>
  
  
  
  
  
  
  <servlet-mapping>
    <servlet-name>AnswerAction</servlet-name>
    <url-pattern>/servlet/AnswerAction</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>CourseDetailAction</servlet-name>
    <url-pattern>/servlet/CourseDetailAction</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>CouresAction</servlet-name>
    <url-pattern>/servlet/CouresAction</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>DepartmentAction</servlet-name>
    <url-pattern>/servlet/DepartmentAction</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>ExaminationAction</servlet-name>
    <url-pattern>/servlet/ExaminationAction</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>LoginAction</servlet-name>
    <url-pattern>/servlet/LoginAction</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>PictureAction</servlet-name>
    <url-pattern>/servlet/PictureAction</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>ProfessionalAction</servlet-name>
    <url-pattern>/servlet/ProfessionalAction</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>QuestionAction</servlet-name>
    <url-pattern>/servlet/QuestionAction</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>RegisterAction</servlet-name>
    <url-pattern>/servlet/RegisterAction</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>WrittenOffAction</servlet-name>
    <url-pattern>/servlet/WrittenOffAction</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>InitAction</servlet-name>
    <url-pattern>/servlet/InitAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BannerAction</servlet-name>
    <url-pattern>/servlet/BannerAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NewsAction</servlet-name>
    <url-pattern>/servlet/NewsAction</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
<!--     <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file> -->
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>